@use "src/responsive-mixin" as rm;

.vs-scroll {
  width: 70vw;
  height: 60vh;

  @include rm.responsive(md) {
    width: 60vw;
  }

  @include rm.responsive(lg) {
    width: 50vw;
  }

  @include rm.responsive(xl) {
    width: 40vw;
  }
}

.loading-section {
  margin-top: 8px;
  margin-bottom: 8px;
  display: block;
  width: 100%;
  vertical-align: central;
}

.loading-spinner {
  position: absolute;
  left: 45%;
}
