@use "src/responsive-mixin" as rm;

.users-scroll {
  width: 100vm;
  height: 90vh;
}

.users-scroll-item {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;

  @include rm.responsive(md) {
    width: 50%;
  }

  @include rm.responsive(lg) {
    width: 33.3%;
  }

  @include rm.responsive(xl) {
    width: 25%;
  }
}

.users-scroll-loading {
  margin-top: 8px;
  margin-bottom: 8px;
  width: 100%;
  display: inline-block;
  vertical-align: central;
  overflow: hidden;
}

.loading-spinner {
  position: absolute;
  left: 50%;
}

.fab-button {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: auto;

  @include rm.responsive(lg) {
    bottom: 48px;
    right: 48px;
  }

  @include rm.responsive(xl) {
    bottom: 48px;
    right: 48px;
  }
}
