<virtual-scroller
  #scroll
  [enableUnequalChildrenSizes]="true"
  [items]="items"
  class="users-scroll"
  (vsEnd)="vsEvent($event)"
>
  <div
    class="users-scroll-item"
    *ngFor="let item of scroll.viewPortItems"
  >
    <app-user-card [user]="item"></app-user-card>
  </div>
  <div *ngIf="loading" class="users-scroll-loading">
    <mat-progress-spinner mode="indeterminate" [diameter]="48" class="loading-spinner"></mat-progress-spinner>
  </div>
</virtual-scroller>

<button mat-fab color="primary" class="fab-button" (click)="openSearchDialog()">
  <mat-icon>search</mat-icon>
</button>
