<div fxLayout="row wrap" fxLayoutAlign="start space-between">
  <div fxFlex.gt-lg="20" fxFlex.gt-md="25" fxFlex.gt-sm="33.3" fxFlex.sm="50" fxFlex.xs="100">
    <app-user-card></app-user-card>
  </div>
  <div fxFlex.gt-lg="20" fxFlex.gt-md="25" fxFlex.gt-sm="33.3" fxFlex.sm="50" fxFlex.xs="100">
    <app-user-card></app-user-card>
  </div>
  <div fxFlex.gt-lg="20" fxFlex.gt-md="25" fxFlex.gt-sm="33.3" fxFlex.sm="50" fxFlex.xs="100">
    <app-user-card></app-user-card>
  </div>
  <div fxFlex.gt-lg="20" fxFlex.gt-md="25" fxFlex.gt-sm="33.3" fxFlex.sm="50" fxFlex.xs="100">
    <app-user-card></app-user-card>
  </div>
  <div fxFlex.gt-lg="20" fxFlex.gt-md="25" fxFlex.gt-sm="33.3" fxFlex.sm="50" fxFlex.xs="100">
    <app-user-card></app-user-card>
  </div>
  <div fxFlex.gt-lg="20" fxFlex.gt-md="25" fxFlex.gt-sm="33.3" fxFlex.sm="50" fxFlex.xs="100">
    <app-user-card></app-user-card>
  </div>
  <div fxFlex.gt-lg="20" fxFlex.gt-md="25" fxFlex.gt-sm="33.3" fxFlex.sm="50" fxFlex.xs="100">
    <app-user-card></app-user-card>
  </div>
  <div fxFlex.gt-lg="20" fxFlex.gt-md="25" fxFlex.gt-sm="33.3" fxFlex.sm="50" fxFlex.xs="100">
    <app-user-card></app-user-card>
  </div>
  <div fxFlex.gt-lg="20" fxFlex.gt-md="25" fxFlex.gt-sm="33.3" fxFlex.sm="50" fxFlex.xs="100">
    <app-user-card></app-user-card>
  </div>
  <div fxFlex.gt-lg="20" fxFlex.gt-md="25" fxFlex.gt-sm="33.3" fxFlex.sm="50" fxFlex.xs="100">
    <app-user-card></app-user-card>
  </div>
</div>
