$breakpoints: (
  'xs': (min-width: 0),
  'sm': (min-width: 576px),
  'md': (min-width: 768px),
  'lg': (min-width: 992px),
  'xl': (min-width: 1200px),
) !default;

@mixin responsive($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media screen and #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  }

  @else {
    @error "unknown breakpoint";
  }
}

.users-scroll {
  width: 100vm;
  height: 90vh;
}

.users-scroll-item {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;

  @include responsive(md) {
    width: 50%;
  }

  @include responsive(lg) {
    width: 33.3%;
  }

  @include responsive(xl) {
    width: 25%;
  }
}

.search-button {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: auto;

  @include responsive(lg) {
    bottom: 48px;
    right: 48px;
  }

  @include responsive(xl) {
    bottom: 48px;
    right: 48px;
  }
}
