<h2 mat-dialog-title>Detail user: {{ userId }}</h2>

<mat-dialog-content class="dialog-content">
  <ng-container *ngIf="user">
    <mat-card>
      <img mat-card-image
           class="user-detail-card-header"
           *ngIf="user.bannerUrl !== null"
           [src]="user.bannerUrl"
           [alt]="user.bannerUrl"
      >
      <mat-card-header>
        <img mat-card-avatar
             *ngIf="user.avatarUrl !== null"
             [src]="user.avatarUrl"
             [alt]="user.username"
        >
        <mat-card-title>
          <ng-container *ngIf="user.name !== null; else noDisplayName">{{ user.name }}</ng-container>
          <ng-template #noDisplayName>{{ user.username }}</ng-template>
        </mat-card-title>
        <mat-card-subtitle>
          @{{ user.username }}<ng-container *ngIf="user.host !== null">@{{ user.host }}</ng-container>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-chip-list>
          <mat-chip
            selected
            color="primary"
            i18n-matTooltip="@@common.tooltip.admin"
            matTooltip="Admin"
            matTooltipPosition="above" *ngIf="user.isAdmin"
          >
            <mat-icon>local_police</mat-icon>
          </mat-chip>
          <mat-chip
            selected
            color="primary"
            i18n-matTooltip="@@common.tooltip.moderator"
            matTooltip="Moderator"
            matTooltipPosition="above"
            *ngIf="user.isModerator"
          >
            <mat-icon>shield</mat-icon>
          </mat-chip>
          <mat-chip
            selected
            color="accent"
            i18n-matTooltip="@@common.tooltip.silence"
            matTooltip="Silence"
            matTooltipPosition="above"
            *ngIf="user.isSilenced"
          >
            <mat-icon>mic_off</mat-icon>
          </mat-chip>
          <mat-chip
            selected
            color="warn"
            i18n-matTooltip="@@common.tooltip.suspend"
            matTooltip="Suspend"
            matTooltipPosition="above"
            *ngIf="user.isSuspended"
          >
            <mat-icon>ac_unit</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </mat-card-content>
    </mat-card>

    <mat-list>
      <div mat-subheader i18n="@@user.detail.basic_info">Basic information</div>
      <mat-list-item>
        <mat-icon mat-list-icon>perm_identity</mat-icon>
        <div mat-line i18n="@@user.detail.basic_info.id">ID</div>
        <div mat-line>{{ user.id }}</div>
        <button
          mat-icon-button
          i18n-matTooltip="@@user.detail.copy_userid"
          matTooltip="Copy UserID"
          matTooltipPosition="above"
          *ngIf="isAvailableCopy()"
          (click)="copyUserId()"
        >
          <mat-icon>content_copy</mat-icon>
        </button>
        <a
          mat-icon-button
          i18n-matTooltip="@@user.detail.open_user_page_in_instance"
          matTooltip="Open user page in instance"
          matTooltipPosition="above"
          target="_blank"
          [href]="genOpenUrl()"
        >
          <mat-icon>open_in_new</mat-icon>
        </a>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>person_add_alt_1</mat-icon>
        <div mat-line i18n="@@user.detail.basic_info.created_at">Created at</div>
        <div mat-line>{{ user.createdAt | date : 'medium' }}</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>record_voice_over</mat-icon>
        <div mat-line i18n="@@user.detail.basic_info.updated_at">Updated at</div>
        <div mat-line>
          <ng-container *ngIf="user.updatedAt !== null; else noUpdate">
            {{ user.updatedAt | date : 'medium' }}
          </ng-container>
          <ng-template #noUpdate>
            <ng-container i18n="@@user.detail.basic_info.none_update">(None)</ng-container>
          </ng-template>
        </div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>people_alt</mat-icon>
        <div mat-line i18n="@@user.detail.basic_info.following">Following</div>
        <div mat-line>
          {{ user.followingCount }}
        </div>
        <button
          mat-icon-button
        >
          <mat-icon>person_search</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>people_alt</mat-icon>
        <div mat-line i18n="@@user.detail.basic_info.follower">Follower</div>
        <div mat-line>
          {{ user.followersCount }}
        </div>
        <button
          mat-icon-button
        >
          <mat-icon>person_search</mat-icon>
        </button>
      </mat-list-item>
      <ng-container *ngIf="user.host !== null">
        <div mat-subheader i18n="@@user.detail.federation_info">Federation information</div>
        <mat-list-item>
          <mat-icon mat-list-icon>language</mat-icon>
          <div mat-line i18n="@@user.detail.federation_info.host">Host</div>
          <div mat-line>{{ user.host }}</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>inbox</mat-icon>
          <div mat-line i18n="@@user.detail.federation_info.inbox">Inbox</div>
          <div mat-line>{{ user.inbox }}</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>all_inbox</mat-icon>
          <div mat-line i18n="@@user.detail.federation_info.shared_inbox">Shared inbox</div>
          <div mat-line>{{ user.sharedInbox }}</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>link</mat-icon>
          <div mat-line i18n="@@user.detail.federation_info.uri">URI</div>
          <div mat-line>{{ user.uri }}</div>
          <a mat-icon-button [href]="user.uri" target="_blank">
            <mat-icon>open_in_new</mat-icon>
          </a>
        </mat-list-item>
      </ng-container>
    </mat-list>

    <ng-container *ngIf="aus.credentials?.id !== user.id && !(aus.credentials?.isModerator && (user.isModerator || user.isAdmin))">
      <mat-divider></mat-divider>

      <mat-action-list>
        <div mat-subheader i18n="@@user.detail.operation">User operation</div>
        <mat-list-item
          *ngIf="aus.credentials?.isAdmin && !user.isAdmin && user.host === null"
          (click)="openModeratorDialog()"
          [disabled]="user.isSuspended"
        >
          <mat-icon mat-list-icon>
            <ng-container *ngIf="user.isModerator; else notModeratorIcon">remove_moderator</ng-container>
            <ng-template #notModeratorIcon>add_moderator</ng-template>
          </mat-icon>
          <div mat-line>
            <ng-container
              *ngIf="user?.isModerator; else notModerator"
              i18n="@@user.detail.menu.demote_mod"
            >Demote from Moderator</ng-container>
            <ng-template #notModerator>
              <ng-container i18n="@@user.detail.menu.promote_mod">Promote to Moderator</ng-container>
            </ng-template>
          </div>
        </mat-list-item>
        <mat-list-item
          (click)="openSilenceDialog()"
          [disabled]="user.isSuspended"
        >
          <mat-icon mat-list-icon>
            <ng-container *ngIf="user?.isSilenced; else notSilenceIcon">mic</ng-container>
            <ng-template #notSilenceIcon>mic_off</ng-template>
          </mat-icon>
          <div mat-line>
            <ng-container
              *ngIf="user.isSilenced; else notSilence"
              i18n="@@user.detail.menu.un_silence"
            >Un-silence</ng-container>
            <ng-template #notSilence>
              <ng-container i18n="@@user.detail.menu.silence">Silence</ng-container>
            </ng-template>
          </div>
        </mat-list-item>
        <mat-list-item
          (click)="openSuspendDialog()"
        >
          <mat-icon mat-list-icon>
            <ng-container *ngIf="user.isSuspended; else notSuspendIcon">fireplace</ng-container>
            <ng-template #notSuspendIcon>ac_unit</ng-template>
          </mat-icon>
          <div mat-line>
            <ng-container
              *ngIf="user.isSuspended; else notSuspend"
              i18n="@@user.detail.menu.un_suspend"
            >
              Unsuspend
            </ng-container>
            <ng-template #notSuspend>
              <ng-container i18n="@@user.detail.menu.suspend">Suspend</ng-container>
            </ng-template>
          </div>
        </mat-list-item>
      </mat-action-list>
    </ng-container>
  </ng-container>
</mat-dialog-content>

<!--suppress HtmlDeprecatedAttribute -->
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close i18n="@@common.close">
    Close
  </button>
</mat-dialog-actions>
