@use "src/responsive-mixin" as rm;

.dialog-content {
  width: 70vw;

  @include rm.responsive(md) {
    width: 65vw;
  }

  @include rm.responsive(lg) {
    width: 60vw;
  }

  @include rm.responsive(xl) {
    width: 55vw;
  }

}

.file-card-image {
  max-height: 20vh;
  object-fit: cover;
}

.file-card-comment {
  margin-top: 8px;
  white-space: pre;
  word-break: break-all;
}

.file-sensitive {
  -webkit-filter: blur(12px);
  -ms-filter: blur(12px);
  filter: blur(12px);
  transition: 0.5s;
}

.file-sensitive:hover {
  -webkit-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: blur(0px);
}
