<mat-card>
  <mat-card-header>
    <img
      mat-card-avatar
      src="https://material.angular.io/assets/img/examples/shiba1.jpg"
      alt="@example@example.com"
      matBadge
      matBadgeSize="small"
    >
    <mat-card-title>Display name</mat-card-title>
    <mat-card-subtitle>@example@example.com</mat-card-subtitle>
  </mat-card-header>
  <mat-chip-list>
    <mat-chip selected color="primary" matTooltip="Admin" matTooltipPosition="above"><mat-icon>local_police</mat-icon></mat-chip>
    <mat-chip selected color="primary" matTooltip="Moderator" matTooltipPosition="above"><mat-icon>shield</mat-icon></mat-chip>
    <mat-chip selected color="accent" matTooltip="Silence" matTooltipPosition="above"><mat-icon>mic_off</mat-icon></mat-chip>
    <mat-chip selected color="warn" matTooltip="Suspend" matTooltipPosition="above"><mat-icon>ac_unit</mat-icon></mat-chip>
  </mat-chip-list>
  <mat-card-actions>
    <a
      mat-icon-button
      matTooltip="Detail"
      matTooltipPosition="above"
      [routerLink]="['/users', 'userid']"
    >
      <mat-icon>info</mat-icon>
    </a>
    <button
      mat-icon-button
      matTooltip="Copy UserID"
      matTooltipPosition="above"
      *ngIf="isAvailableCopy()"
      (click)="copyUserId()"
    >
      <mat-icon>content_copy</mat-icon>
    </button>
    <a
      mat-icon-button
      matTooltip="Open user page in instance"
      matTooltipPosition="above"
      target="_blank"
      href="#"
      (click)="$event.preventDefault()"
    >
      <mat-icon>open_in_new</mat-icon>
    </a>
  </mat-card-actions>
</mat-card>
