<mat-card *ngIf="user">
  <mat-card-header>
    <img
      mat-card-avatar
      [src]="user.avatarUrl"
      [alt]="user.username"
      matBadge
      matBadgeSize="small"
    >
    <mat-card-title class="text-overflow">
      <ng-container *ngIf="user.name !== null; else noDisplayName">{{ user.name }}</ng-container>
      <ng-template #noDisplayName>{{ user.username }}</ng-template>
    </mat-card-title>
    <mat-card-subtitle>@{{ user.username }}<ng-container *ngIf="user.host !== null">@{{ user.host }}</ng-container></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="non-bottom-margin">
    <mat-chip-list>
      <mat-chip selected color="primary" matTooltip="Admin" matTooltipPosition="above" *ngIf="user.isAdmin"><mat-icon>local_police</mat-icon></mat-chip>
      <mat-chip selected color="primary" matTooltip="Moderator" matTooltipPosition="above" *ngIf="user.isModerator"><mat-icon>shield</mat-icon></mat-chip>
      <mat-chip selected color="accent" matTooltip="Silence" matTooltipPosition="above" *ngIf="user.isSilenced"><mat-icon>mic_off</mat-icon></mat-chip>
      <mat-chip selected color="warn" matTooltip="Suspend" matTooltipPosition="above" *ngIf="user.isSuspended"><mat-icon>ac_unit</mat-icon></mat-chip>
    </mat-chip-list>
    <mat-list>
      <mat-list-item>
        <mat-icon mat-list-icon matTooltip="Created at" matTooltipPosition="above">person_add_alt_1</mat-icon>
        <time>{{ user.createdAt | date : 'medium' }}</time>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon matTooltip="Updated at" matTooltipPosition="above">record_voice_over</mat-icon>
        <time *ngIf="user.updatedAt !== null">{{ user.updatedAt | date : 'medium' }}</time>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <a
      mat-icon-button
      matTooltip="Detail"
      matTooltipPosition="above"
      [routerLink]="['/users', user.id]"
      *ngIf="!(aus.credentials?.isModerator && user.isAdmin)"
    >
      <mat-icon>info</mat-icon>
    </a>
    <a
      mat-icon-button
      matTooltip="Open user page in instance"
      matTooltipPosition="above"
      target="_blank"
      [href]="genOpenUrl()"
    >
      <mat-icon>open_in_new</mat-icon>
    </a>
    <button
      mat-icon-button
      matTooltip="Copy UserID"
      matTooltipPosition="above"
      *ngIf="isAvailableCopy()"
      (click)="copyUserId()"
    >
      <mat-icon>content_copy</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
