<h2 mat-dialog-title>User search</h2>
<div mat-dialog-content>
  <form [formGroup]="data">
    <mat-form-field appearance="fill" color="primary">
      <mat-label>State</mat-label>
      <mat-select formControlName="state">
        <mat-option value="all">All</mat-option>
        <mat-option value="available">Available</mat-option>
        <mat-option value="adminOrModerator">Admin or Moderator</mat-option>
        <mat-option value="silenced">Silence</mat-option>
        <mat-option value="suspended">Suspend</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" color="primary">
      <mat-label>Sort</mat-label>
      <mat-select formControlName="sort">
        <mat-option value="+createdAt">Created at (desc)</mat-option>
        <mat-option value="-createdAt">Created at (asc)</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" color="primary">
      <mat-label>Origin</mat-label>
      <mat-select formControlName="origin">
        <mat-option value="combined">Combined</mat-option>
        <mat-option value="local">Local</mat-option>
        <mat-option value="remote">Remote</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<!--suppress HtmlDeprecatedAttribute -->
<div mat-dialog-actions align="end">
  <button mat-button (click)="ref.close()">Close</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial [disabled]="data.invalid">Apply</button>
</div>
