<ng-container *ngIf="aus.isLogin(); else landing">
  <mat-drawer-container class="main" autosize [hasBackdrop]="true">
    <mat-drawer mode="over" #drawer>
      <mat-nav-list class="nav-list">
        <mat-list-item [matMenuTriggerFor]="accountMenu">
          <img mat-list-avatar [src]="aus.credentials?.avatarUrl" [alt]="aus.credentials?.username">
          <div mat-line>@{{ aus.credentials?.username }}</div>
          <div mat-line>{{ aus.address }}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item routerLink="/dashboard" (click)="drawer.close()">
          <mat-icon mat-list-icon>dashboard</mat-icon>
          <div i18n="@@nav.dashboard">Dashboard</div>
        </mat-list-item>
        <mat-list-item routerLink="/core" (click)="drawer.close()" *ngIf="aus.credentials?.isAdmin">
          <mat-icon mat-list-icon>settings</mat-icon>
          <div i18n="@@nav.meta">Meta</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item routerLink="/users" (click)="drawer.close()">
          <mat-icon mat-list-icon>people</mat-icon>
          <div i18n="@@nav.users">Users</div>
        </mat-list-item>
        <mat-list-item routerLink="/files" (click)="drawer.close()">
          <mat-icon mat-list-icon>cloud</mat-icon>
          <div i18n="@@nav.files">Files</div>
        </mat-list-item>
        <mat-list-item routerLink="/federation" (click)="drawer.close()">
          <mat-icon mat-list-icon>language</mat-icon>
          <div i18n="@@nav.federation">Federation</div>
        </mat-list-item>
        <mat-list-item routerLink="/reports" (click)="drawer.close()">
          <mat-icon mat-list-icon>flag</mat-icon>
          <div i18n="@@nav.reports">Reports</div>
        </mat-list-item>
        <mat-list-item routerLink="/emoji" (click)="drawer.close()">
          <mat-icon mat-list-icon>emoji_emotions</mat-icon>
          <div i18n="@@nav.emojis">Emojis</div>
        </mat-list-item>
      </mat-nav-list>
    </mat-drawer>
    <div>
      <div class="toolbar">
        <mat-toolbar color="primary">
          <button mat-icon-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
          <span>AimyDog</span>
        </mat-toolbar>
      </div>
      <div class="main-container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-drawer-container>

  <mat-menu #accountMenu="matMenu">
    <a mat-menu-item [href]="aus.protocol + '//' + aus.address + '/'" target="_blank">
      <mat-icon>home</mat-icon>
      <span i18n="@@nav.go_to_instance">Go to instance</span>
    </a>
    <button mat-menu-item (click)="aus.destroySession()">
      <mat-icon>logout</mat-icon>
      <span i18n="@@nav.logout">Logout</span>
    </button>
  </mat-menu>
</ng-container>

<ng-template #landing>
  <div class="toolbar">
    <mat-toolbar color="primary">
      <span>AimyDog</span>
    </mat-toolbar>
  </div>
  <div class="landing-container">
    <router-outlet></router-outlet>
  </div>
</ng-template>
