<ng-container *ngIf="false; else landing">
  <mat-drawer-container class="main" autosize>
    <mat-drawer mode="side" #drawer>
      <mat-nav-list>
        <mat-list-item routerLink="/">
          <mat-icon>dashboard</mat-icon> Dashboard
        </mat-list-item>
        <mat-list-item routerLink="/core">
          <mat-icon>settings</mat-icon> Core
        </mat-list-item>
        <mat-list-item routerLink="/users">
          <mat-icon>people</mat-icon> Users
        </mat-list-item>
        <mat-list-item routerLink="/file">
          <mat-icon>cloud</mat-icon> Files
        </mat-list-item>
        <mat-list-item routerLink="/report">
          <mat-icon>flag</mat-icon> Reports
        </mat-list-item>
        <mat-list-item routerLink="/emoji">
          <mat-icon>emoji_emotions</mat-icon> Emoji
        </mat-list-item>
      </mat-nav-list>
    </mat-drawer>
    <div>
      <mat-toolbar color="primary">
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Mikan</span>
      </mat-toolbar>

      <div class="main-container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-drawer-container>
</ng-container>

<ng-template #landing>
  <router-outlet></router-outlet>
</ng-template>
