.main {
  height: 100%;
}

mat-toolbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
}

.main-container {
  padding: 0 8px;
}

.landing-container {
  padding: 4px 8px;
}
