<ng-container *ngIf="aus.isLogin; else landing">
  <mat-drawer-container class="main" autosize [hasBackdrop]="true">
    <mat-drawer mode="over" #drawer>
      <mat-nav-list class="nav-list">
        <mat-list-item routerLink="/dashboard" (click)="drawer.close()">
          <mat-icon mat-list-icon>dashboard</mat-icon>
          <div>Dashboard</div>
        </mat-list-item>
        <mat-list-item routerLink="/core" (click)="drawer.close()">
          <mat-icon mat-list-icon>settings</mat-icon>
          <div>Core</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item routerLink="/users" (click)="drawer.close()">
          <mat-icon mat-list-icon>people</mat-icon>
          <div>Users</div>
        </mat-list-item>
        <mat-list-item routerLink="/file" (click)="drawer.close()">
          <mat-icon mat-list-icon>cloud</mat-icon>
          <div>Files</div>
        </mat-list-item>
        <mat-list-item routerLink="/report" (click)="drawer.close()">
          <mat-icon mat-list-icon>flag</mat-icon>
          <div>Reports</div>
        </mat-list-item>
        <mat-list-item routerLink="/emoji" (click)="drawer.close()">
          <mat-icon mat-list-icon>emoji_emotions</mat-icon>
          <div>Emoji</div>
        </mat-list-item>
      </mat-nav-list>
    </mat-drawer>
    <div>
      <mat-toolbar color="primary">
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Mikan</span>
      </mat-toolbar>

      <div class="main-container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-drawer-container>
</ng-container>

<ng-template #landing>
  <div class="landing-container">
    <router-outlet></router-outlet>
  </div>
</ng-template>
