.main {
  height: 100%;
}

.toolbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
}

.main-container {
  padding: 0 8px;
}

.landing-container {
  padding: 4px 8px;
}

.nav-list {
  width: 240px;
}

.nav-footer-meta {
  padding: 4px 4px;
}

.divider {
  margin: 8px 0;
}

.landing-footer {
  margin-bottom: 8px;
}
