<ng-container *ngIf="user">
  <div class="mt"></div>
  <mat-card>
    <img mat-card-image
         class="user-detail-card-header"
         *ngIf="user.bannerUrl !== null"
         [src]="user.bannerUrl"
         [alt]="user.bannerUrl"
    >
    <mat-card-header>
      <img mat-card-avatar
           [src]="user.avatarUrl"
           [alt]="user.username"
      >
      <mat-card-title>
        <ng-container *ngIf="user.name !== null; else noDisplayName">{{ user.name }}</ng-container>
        <ng-template #noDisplayName>{{ user.username }}</ng-template>
      </mat-card-title>
      <mat-card-subtitle>
        @{{ user.username }}
        <ng-container *ngIf="user.host !== null">@{{ user.host }}</ng-container>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-chip-list>
        <mat-chip selected color="primary" matTooltip="Admin" matTooltipPosition="above" *ngIf="user.isAdmin">
          <mat-icon>local_police</mat-icon>
        </mat-chip>
        <mat-chip selected color="primary" matTooltip="Moderator" matTooltipPosition="above" *ngIf="user.isModerator">
          <mat-icon>shield</mat-icon>
        </mat-chip>
        <mat-chip selected color="accent" matTooltip="Silence" matTooltipPosition="above" *ngIf="user.isSilenced">
          <mat-icon>mic_off</mat-icon>
        </mat-chip>
        <mat-chip selected color="warn" matTooltip="Suspend" matTooltipPosition="above" *ngIf="user.isSuspended">
          <mat-icon>ac_unit</mat-icon>
        </mat-chip>
      </mat-chip-list>
      <mat-action-list>
        <div mat-subheader>Basic information</div>
        <mat-list-item>
          <mat-icon mat-list-icon>perm_identity</mat-icon>
          <div mat-line>ID</div>
          <div mat-line>{{ user.id }}</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>person_add_alt_1</mat-icon>
          <div mat-line>Created at</div>
          <div mat-line>{{ user.createdAt | date : 'medium' }}</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>record_voice_over</mat-icon>
          <div mat-line>Updated at</div>
          <div mat-line>
            <ng-container
              *ngIf="user.updatedAt !== null; else noUpdate">{{ user.updatedAt | date : 'medium' }}</ng-container>
            <ng-template #noUpdate>(None)</ng-template>
          </div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>people_alt</mat-icon>
          <div mat-line>Following</div>
          <div mat-line>
            {{ user.followingCount }}
          </div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>people_alt</mat-icon>
          <div mat-line>Follower</div>
          <div mat-line>
            {{ user.followersCount }}
          </div>
        </mat-list-item>
        <ng-container *ngIf="user.host !== null">
          <div mat-subheader>Fediverse Information</div>
          <mat-list-item>
            <mat-icon mat-list-icon>language</mat-icon>
            <div mat-line>Host</div>
            <div mat-line>{{ user.host }}</div>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon>inbox</mat-icon>
            <div mat-line>Inbox</div>
            <div mat-line>{{ user.inbox }}</div>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon>all_inbox</mat-icon>
            <div mat-line>Shared inbox</div>
            <div mat-line>{{ user.sharedInbox }}</div>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon>link</mat-icon>
            <div mat-line>URI</div>
            <div mat-line>{{ user.uri }}</div>
          </mat-list-item>
        </ng-container>
      </mat-action-list>
    </mat-card-content>
    <mat-card-actions align="end">
      <button
        mat-icon-button
        matTooltip="Copy UserID"
        matTooltipPosition="above"
        *ngIf="isAvailableCopy()"
        (click)="copyUserId()"
      >
        <mat-icon>content_copy</mat-icon>
      </button>
      <a
        mat-icon-button
        matTooltip="Open user page in instance"
        matTooltipPosition="above"
        target="_blank"
        [href]="genOpenUrl()"
      >
        <mat-icon>open_in_new</mat-icon>
      </a>
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        [disabled]="aus.credentials?.id === user?.id || (aus.credentials?.isModerator && (user?.isModerator || user?.isAdmin))"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
  <div class="mt"></div>
</ng-container>

<mat-menu #menu="matMenu">
  <button mat-menu-item *ngIf="aus.credentials?.isAdmin && !user?.isAdmin" (click)="openModeratorDialog()" [disabled]="user?.isSuspended">
    <mat-icon>
      <ng-container *ngIf="user?.isModerator; else notModeratorIcon">remove_moderator</ng-container>
      <ng-template #notModeratorIcon>add_moderator</ng-template>
    </mat-icon>
    <span>
      <ng-container *ngIf="user?.isModerator; else notModerator">Demote from Moderator</ng-container>
      <ng-template #notModerator>Promote to Moderator</ng-template>
    </span>
  </button>
  <ng-container *ngIf="!(user?.isModerator || user?.isAdmin)">
    <button mat-menu-item (click)="openSilenceDialog()" [disabled]="user?.isSuspended">
      <mat-icon>
        <ng-container *ngIf="user?.isSilenced; else notSilenceIcon">mic</ng-container>
        <ng-template #notSilenceIcon>mic_off</ng-template>
      </mat-icon>
      <span>
      <ng-container *ngIf="user?.isSilenced; else notSilence">Unsilence</ng-container>
      <ng-template #notSilence>Silence</ng-template>
    </span>
    </button>
    <button mat-menu-item (click)="openSuspendDialog()">
      <mat-icon>
        <ng-container *ngIf="user?.isSuspended; else notSuspendIcon">fireplace</ng-container>
        <ng-template #notSuspendIcon>ac_unit</ng-template>
      </mat-icon>
      <span>
        <ng-container *ngIf="user?.isSuspended; else notSuspend">Unsuspend</ng-container>
        <ng-template #notSuspend>Suspend</ng-template>
      </span>
    </button>
    <!--
    <mat-divider></mat-divider>
    <button mat-menu-item>
      <mat-icon>delete_forever</mat-icon>
      <span>Delete</span>
    </button>
    -->
  </ng-container>
</mat-menu>
