<mat-card class="file-card" *ngIf="file">
  <img mat-card-image
     class="file-card-image"
     *ngIf="file.thumbnailUrl !== null"
     [src]="file.thumbnailUrl"
     [alt]="file.thumbnailUrl"
  >
  <mat-card-header>
    <img
      mat-card-avatar
      [src]="file.user?.avatarUrl"
      [alt]="file.user?.username"
    >
    <mat-card-title class="text-overflow">
      <ng-container *ngIf="file.user?.name !== null; else noDisplayName">{{ file.user?.name }}</ng-container>
      <ng-template #noDisplayName>{{ file.user?.username }}</ng-template>
    </mat-card-title>
    <mat-card-subtitle>@{{ file.user?.username }}<ng-container *ngIf="file.user?.host !== null">@{{ file.user?.host }}</ng-container></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-chip-list>
      <mat-chip
        selected
        color="accent"
        i18n-matTooltip="@@common.tooltip.sensitive"
        matTooltip="Sensitive"
        matTooltipPosition="above"
        *ngIf="file.isSensitive"
      ><mat-icon>visibility_off</mat-icon></mat-chip>
    </mat-chip-list>
    <mat-list>
      <mat-list-item>
        <mat-icon
          mat-list-icon
          i18n-matTooltip="@@file.detail.created_at"
          matTooltip="Created at"
          matTooltipPosition="above"
        >upload_file</mat-icon>
        <div>{{ file.createdAt | date : 'medium' }}</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon
          mat-list-icon
          i18n-matTooltip="@@file.detail.file_type"
          matTooltip="File type"
          matTooltipPosition="above"
        >insert_drive_file</mat-icon>
        <div>{{ file.type }}</div>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-icon-button
      i18n-matTooltip="@@common.detail"
      matTooltip="Detail"
      matTooltipPosition="above"
      (click)="openFileDetailDialog()"
    >
      <mat-icon>info</mat-icon>
    </button>
    <button
      mat-icon-button
      i18n-matTooltip="@@file.show_owner_detail"
      matTooltip="Show owner detail"
      matTooltipPosition="above"
      *ngIf="file.user"
      (click)="openOwnerUserDialog()"
      [disabled]="aus.credentials?.isModerator && file.user.isAdmin"
    >
      <mat-icon>account_circle</mat-icon>
    </button>
    <a
      i18n-matTooltip="@@file.open"
      matTooltip="Open file"
      matTooltipPosition="above"
      *ngIf="file.url !== null"
      mat-icon-button
      [href]="file.url"
      target="_blank"
    >
      <mat-icon>open_in_new</mat-icon>
    </a>
    <button
      mat-icon-button
      i18n-matTooltip="@@file.copy_fileid"
      matTooltip="Copy FileID"
      matTooltipPosition="above"
      *ngIf="isAvailableCopy()"
      (click)="copyUserId()"
    >
      <mat-icon>content_copy</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
